streamlit
mlflow
scikit-learn
pandas
matplotlib
seaborn
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-storage  # If using Google Cloud Storage
google-cloud-bigquery # If using BigQuery

